<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>

    <style>
        form{
            height: 50px;
            background: red;
        }
        iframe{
            background: darkgreen;
            height: calc(100% - 50px);
            width: 100%;
            /*padding: 0;*/
            /*margin: 0;*/
            /*border: 0;*/
        }
    </style>
</head>
<body>

<form type="get" th:action="@{/doBrowser}" target="page">
    <input type="text" name="url">
    <input type="submit">
</form>

<!--<div style="background: darkgreen; height: calc(100% - 50px); width: 100%"></div>-->
<iframe name="page" frameborder="0"></iframe>
<script th:src="@{/js/jquery-1.12.2.min.js(v=${ver})}"></script>
</body>
</html>